ol{
    list-style-type: none;
    
    li{
        padding: 5px;
        display: flex;
        align-items: center;
        transition: .2s;
        &:hover{
            background-color: #eee;
            button.delete{
                background-color: $dangerBtnHover;
            }
        }
    }

    input[type='checkbox']{
        margin-left: 5px;
    }

    .buttongroup{
        margin-left: auto;
    }

    button.delete{
        padding: 2px;
        background-color: #fff;
        color: $dangerBtn;
        font-size: 15px;
        border: none;
        border-radius: 2px;
       
        transition: .2s;
        &:hover{
            background-color: $dangerBtnHover;
            color: red;
            cursor: pointer;
        }
    }


    button.edit{
        @extend button.delete;
        margin: 0 5px;
        color: rgba(0,100,0, 0.7);
        &:hover{
            background-color: $dangerBtnHover;
            color: green;
         }
    }
}